
@font-face {
    font-family:'Ringbearer';
    font-style: normal;
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'),
    url(fonts/RINGM__.ttf) format('ttf');

}

body {
    background-color: #efefef;
}

h1 {
    font-family: Ringbearer, Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-items: center;
    margin-left: inherit;
    align-self: center;
    text-align: center;
}

h2 {
    font-family: 'Ringbearer', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    align-items: center;
    margin-left: inherit;
    align-self: center;
    text-align: center;
}

h3 {
    font-family: 'Ringbearer', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    align-items: center;
    margin-left: inherit;
    align-self: center;
    text-align: center;
}

p {
    font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: black;
    align-items: center;
    margin-left: inherit;
    align-self: center;
    text-align: center;
}

a {
    font-family: inherit;
    font-size: large;
    color: darkgoldenrod;
    align-items: center;
    margin-left: auto;
    text-align: center;
    font-style: normal;
}

header {
    background-color: #000000;
    display: table;
    height: 6em;
    width: 100%;
}

.headlinks {
    font-family: 'Ringbearer', Verdana, Arial, sans-serif;
    font-style: normal;
    font-size: large;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: ghostwhite;
    display: table-cell;
    align-items: center;
    margin-left: 10em;
    align-self: center;
    padding-left: 4em;
    padding-right: 4em;
    text-decoration: none;
    vertical-align: middle;
    overflow: hidden;
}
.headlinks:hover {
    background-color: lightgray;
    height: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 65%;
  bottom: auto;
  transform: translateY(2.9em);
  background-color: #efefef;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: lightgray;
}

.headlinks:hover .dropdown-content {
  display: block;
}

.headlinks .dropbtn {
  font-size: large;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

table {
  font-family: Calibri, Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  border-collapse: collapse;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  font-family: 'Ringbearer', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1em;
}

tr:nth-child(even) {
  background-color: lightgray;
}